<ion-content [fullscreen]="true">
  <div class="content">
    <div class="content__title">
      <label class="title">Catbrees</label>
    </div>
    <div class="content__search">
      <div class="content__search--input">
        <div class="search">
          <ion-input
            placeholder="Buscar"
            name="round"
            type="round"
            [(ngModel)]="keyword"
          ></ion-input>
          <ion-icon
            name="close-circle-outline"
            *ngIf="keyword !== ''"
            (click)="onClear()"
          ></ion-icon>
          <ion-icon name="search" (click)="onSearch()"></ion-icon>
        </div>
      </div>
    </div>
    <div class="card" *ngFor="let item of imagesWithBread">
      <div class="card__header">
        <div class="subtitle">{{item.breeds[0].name}}</div>
        <div class="subtitle" (click)="goToDetail(item.id)">Mas...</div>
      </div>
      <div class="card__image">
        <ion-img [src]="item.url"></ion-img>
      </div>
      <div class="card__footer">
        <div class="subtitle">{{item.breeds[0].origin}}</div>
        <div class="subtitle">{{item.breeds[0].intelligence}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="imagesWithBread.length === 0 && stateFilter">
    <div class="card">
      <div class="card__image">
        <label class="subtitle">Busqueda sin coincidencias</label>
      </div>
    </div>
  </div>

  <ion-infinite-scroll
    *ngIf="!stateFilter"
    threshold="100px"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
