@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --ion-color-scheme: light;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

.title {
  font-size: 16px;
  margin: 1rem 0;
  font-weight: bold;
  color: #000000;
}

.subtitle {
  font-size: 14px;
  margin: 1rem 0;
  color: #000000;
}

.m {
  &t-20 {
    margin-top: 20px;
  }
}
